.full_row_container{
    padding: 25px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(155, 153, 163);
    width: 100%;
    color: white;


    z-index: 1000;
}


.footer {
    
    color: rgb(3, 36, 64);
    display: flex;
    justify-content: space-around;
}

.bsh {
    width: 70%;
    color: white;
}