
nav {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    height: 200px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav_menu{
    width:70%;
    display: flex;
    margin: auto 0;
}
.nav_menu ul{
    width: 100%;
    display: flex;
    margin: auto 0;
    justify-content: space-between;
    list-style: none;
}

.nav_menu ul a{
    color: black;
}

.nav_menu ul li a:hover{
    color: rgb(210, 142, 16);
}

.account{
    display: flex;
    margin: auto 0;
    position: relative;
}

.account a{
    color: black;
}

.account a:hover{
    color: rgb(210, 142, 16);
}

.account_link {
    padding: 10px 12px;
    display: inline-block;
    cursor: pointer;
}

.submenu_login {
    list-style: none;
    margin: 0;
    padding: 8px 0;

    position: absolute;
    top: calc(100% + 6px);
    right: 0;

    min-width: 140px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-6px);
    transition: all 150ms ease;

    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    z-index: 20;
}

.account:hover .submenu_login {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.submenu_login li a {
    display: block;
    padding: 10px 14px;
    color: rgb(255, 255, 255);
}

.submenu_login li a:hover {
    background: rgba(255, 255, 255, 0.12);
}
